{% extends "app/base.html"%}

{% block title %}Главная{% endblock %}


{% block content %}

<div class="row">
    <div class="col-md-4">

            <div id="demo" class="carousel " data-ride="carousel" data-interval="2000">

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="http://wallpapers-image.ru/2560x1600/mountains/wallpapers/mountains-wallpapers-2560x1600-0006.jpg"
                             alt="" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img src="http://wallpapers-image.ru/oboi/wallpapers/wallpapers-mountains-01.jpg" alt=""
                             class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img src="https://images3.alphacoders.com/230/thumb-1920-230097.jpg" alt=""
                             class="d-block w-100">
                    </div>
                </div>
            </div>
    </div>
    <div class="col-md-8 d-flex flex-wrap align-content-center">
    {%for tls in tl%}
    <p>{{tls.title|safe}}</p>

    {%endfor%}
    </div>

    <div class="col-md-12">
        {%for tls in tl%}
    <p>{{tls.content|safe}}</p>

    {%endfor%}
    </div>

        </div>

    {% endblock %}


